.DS_Store
__pycache__/
*.py[cod]
.ipynb_checkpoints/
.pytest_cache/

.venv/

artifacts_hw3/
!artifacts_hw3/
artifacts_hw3/*
!artifacts_hw3/run_summary.md
!artifacts_hw3/dataset_inspect/
artifacts_hw3/dataset_inspect/*
!artifacts_hw3/dataset_inspect/dataset_info.json
!artifacts_hw3/dataset_inspect/dataset_preview.txt
!artifacts_hw3/baseline_rubert_tiny2_e1/
artifacts_hw3/baseline_rubert_tiny2_e1/*
!artifacts_hw3/baseline_rubert_tiny2_e1/metrics.json
!artifacts_hw3/baseline_rubert_tiny2_e1/run_config.json
!artifacts_hw3/mlm_rubert_tiny2_whole_word_e1/
artifacts_hw3/mlm_rubert_tiny2_whole_word_e1/*
!artifacts_hw3/mlm_rubert_tiny2_whole_word_e1/metrics.json
!artifacts_hw3/mlm_rubert_tiny2_whole_word_e1/run_config.json
!artifacts_hw3/ner_from_mlm_rubert_tiny2_whole_word_e1/
artifacts_hw3/ner_from_mlm_rubert_tiny2_whole_word_e1/*
!artifacts_hw3/ner_from_mlm_rubert_tiny2_whole_word_e1/metrics.json
!artifacts_hw3/ner_from_mlm_rubert_tiny2_whole_word_e1/run_config.json
!artifacts_hw3/mlm_rubert_tiny2_entity_e1/
artifacts_hw3/mlm_rubert_tiny2_entity_e1/*
!artifacts_hw3/mlm_rubert_tiny2_entity_e1/metrics.json
!artifacts_hw3/mlm_rubert_tiny2_entity_e1/run_config.json
!artifacts_hw3/ner_from_mlm_rubert_tiny2_entity_e1/
artifacts_hw3/ner_from_mlm_rubert_tiny2_entity_e1/*
!artifacts_hw3/ner_from_mlm_rubert_tiny2_entity_e1/metrics.json
!artifacts_hw3/ner_from_mlm_rubert_tiny2_entity_e1/run_config.json
!artifacts_hw3/ner_with_synthetic_titles_10k/
artifacts_hw3/ner_with_synthetic_titles_10k/*
!artifacts_hw3/ner_with_synthetic_titles_10k/metrics.json
!artifacts_hw3/ner_with_synthetic_titles_10k/run_config.json
!artifacts_hw3/ner_from_entity_mlm_with_synthetic_titles_10k/
artifacts_hw3/ner_from_entity_mlm_with_synthetic_titles_10k/*
!artifacts_hw3/ner_from_entity_mlm_with_synthetic_titles_10k/metrics.json
!artifacts_hw3/ner_from_entity_mlm_with_synthetic_titles_10k/run_config.json
!artifacts_hw3/pseudo_lenta_titles_10k.jsonl
!artifacts_hw3/pseudo_lenta_titles_10k.meta.json
data/cache/
data/raw/
data/interim/
data/teacher_predictions/
