.DS_Store
__pycache__/
*.py[cod]
.ipynb_checkpoints/
.pytest_cache/

.venv/

artifacts_hw4/
!artifacts_hw4/
artifacts_hw4/*
!artifacts_hw4/.gitkeep
!artifacts_hw4/run_summary.md
!artifacts_hw4/run_comparison.csv
!artifacts_hw4/final_report.md
!artifacts_hw4/compare_sample_3k/
artifacts_hw4/compare_sample_3k/*
!artifacts_hw4/compare_sample_3k/dataset_info.json
!artifacts_hw4/baseline_multilingual_3k/
artifacts_hw4/baseline_multilingual_3k/*
!artifacts_hw4/baseline_multilingual_3k/metrics.json
!artifacts_hw4/baseline_multilingual_3k/run_config.json
!artifacts_hw4/baseline_multilingual_3k/topic_info.csv
!artifacts_hw4/baseline_multilingual_3k/topic_keywords.json
!artifacts_hw4/baseline_multilingual_3k/selected_documents.json
!artifacts_hw4/baseline_multilingual_3k/document_topics.csv
!artifacts_hw4/baseline_multilingual_3k/dataset_inspect/
artifacts_hw4/baseline_multilingual_3k/dataset_inspect/*
!artifacts_hw4/baseline_multilingual_3k/dataset_inspect/dataset_info.json
!artifacts_hw4/baseline_multilingual_3k/visualizations/
artifacts_hw4/baseline_multilingual_3k/visualizations/*
!artifacts_hw4/baseline_multilingual_3k/visualizations/topic_barchart.html
!artifacts_hw4/baseline_multilingual_3k/visualizations/documents_2d.html
!artifacts_hw4/baseline_multilingual_3k/visualizations/distribution_doc_15.html
!artifacts_hw4/baseline_multilingual_3k/visualizations/distribution_doc_1610.html
!artifacts_hw4/baseline_multilingual_3k/visualizations/distribution_doc_2010.html
!artifacts_hw4/lemmatized_multilingual_3k/
artifacts_hw4/lemmatized_multilingual_3k/*
!artifacts_hw4/lemmatized_multilingual_3k/metrics.json
!artifacts_hw4/lemmatized_multilingual_3k/run_config.json
!artifacts_hw4/english_ablation_3k/
artifacts_hw4/english_ablation_3k/*
!artifacts_hw4/english_ablation_3k/metrics.json
!artifacts_hw4/english_ablation_3k/run_config.json
!artifacts_hw4/final_baseline_multilingual_6k/
artifacts_hw4/final_baseline_multilingual_6k/*
!artifacts_hw4/final_baseline_multilingual_6k/metrics.json
!artifacts_hw4/final_baseline_multilingual_6k/run_config.json
!artifacts_hw4/final_baseline_multilingual_6k_tuned/
artifacts_hw4/final_baseline_multilingual_6k_tuned/*
!artifacts_hw4/final_baseline_multilingual_6k_tuned/metrics.json
!artifacts_hw4/final_baseline_multilingual_6k_tuned/run_config.json
